wsdl/Authority.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:authority="http://minameddelanden.gov.se/Authority"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  name="Authority"
                  targetNamespace="http://minameddelanden.gov.se/Authority">
    <wsdl:types>
        <xsd:schema targetNamespace="http://minameddelanden.gov.se/Authority"
                    xmlns:tns="http://minameddelanden.gov.se/Authority"
                    xmlns:c="http://minameddelanden.gov.se/schema/Common" 
                    xmlns:authority="http://minameddelanden.gov.se/schema/Authority"
                    xmlns:recipient="http://minameddelanden.gov.se/schema/Recipient"
                    xmlns:sender="http://minameddelanden.gov.se/schema/Sender">

			<xsd:import schemaLocation="schema/Common.xsd" namespace="http://minameddelanden.gov.se/schema/Common" />
            <xsd:import schemaLocation="schema/Authority.xsd" namespace="http://minameddelanden.gov.se/schema/Authority" />
            <xsd:import schemaLocation="schema/Recipient.xsd" namespace="http://minameddelanden.gov.se/schema/Recipient" />
            <xsd:import schemaLocation="schema/Sender.xsd" namespace="http://minameddelanden.gov.se/schema/Sender" />

            <xsd:element name="getUserAccessRights">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="arg0" type="authority:UserIdentity" minOccurs="1" maxOccurs="1" />
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="getUserAccessRightsResponse">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="return" type="authority:UserAccessRights" minOccurs="0" maxOccurs="unbounded" />
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="getUserAccessRightsFault" type="c:ExceptionInformation" />
            
            <xsd:element name="getSenders">
            	<xsd:complexType>
            		<xsd:sequence />
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="getSendersResponse">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="return" type="sender:Sender" minOccurs="0" maxOccurs="unbounded" />
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="getSendersFault" type="c:ExceptionInformation" />

            <xsd:element name="testNewSigner">
            	<xsd:complexType>
            		<xsd:sequence>
            			<xsd:element name="arg0" type="recipient:RecipientId" minOccurs="1" maxOccurs="1" />
            			<xsd:element name="arg1" type="authority:Person" minOccurs="0" maxOccurs="unbounded" />
            			<xsd:element name="arg2" type="authority:PersonalNumber" minOccurs="0" maxOccurs="1" />
            			<xsd:element name="arg3" type="authority:AccountActions" minOccurs="1" maxOccurs="1" />
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="testNewSignerResponse">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element name="return" type="authority:SignatureAuthorizationResult" minOccurs="1" maxOccurs="1" />
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="testNewSignerFault" type="c:ExceptionInformation">

            </xsd:element>
            <xsd:element name="verifyAuthorizedSignatures">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element name="arg0"
            				type="recipient:RecipientId" minOccurs="1"
            				maxOccurs="1">
            			</xsd:element>
            			<xsd:element name="arg1" type="c:SignatureData"
            				minOccurs="1" maxOccurs="unbounded">
            			</xsd:element>
            			<xsd:element name="arg2" type="xsd:base64Binary"
            				minOccurs="1" maxOccurs="1">
            			</xsd:element>
            			<xsd:element name="arg3"
            				type="authority:AccountActions" minOccurs="1" maxOccurs="1">
            			</xsd:element>
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="verifyAuthorizedSignaturesResponse">
            	<xsd:complexType>
            		<xsd:sequence>

            			<xsd:element name="return" type="authority:SignatureAuthorizationResult" minOccurs="1" maxOccurs="1" />
            		</xsd:sequence>
            	</xsd:complexType>
            </xsd:element>
            <xsd:element name="verifyAuthorizedSignaturesFault" type="c:ExceptionInformation">

            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="getUserAccessRightsRequest">
    	<wsdl:part name="parameters" element="authority:getUserAccessRights" />
    </wsdl:message>
    <wsdl:message name="getUserAccessRightsResponse">
    	<wsdl:part name="parameters" element="authority:getUserAccessRightsResponse" />
    </wsdl:message>
    <wsdl:message name="getUserAccessRightsFault">
    	<wsdl:part name="fault" element="authority:getUserAccessRightsFault" />
    </wsdl:message>
    <wsdl:message name="getSendersRequest">
    	<wsdl:part name="parameters" element="authority:getSenders" />
    </wsdl:message>
    <wsdl:message name="getSendersResponse">
    	<wsdl:part name="parameters" element="authority:getSendersResponse" />
    </wsdl:message>
    <wsdl:message name="getSendersFault">
    	<wsdl:part name="fault" element="authority:getSendersFault" />
    </wsdl:message>
    <wsdl:message name="testNewSignerRequest">
    	<wsdl:part name="parameters" element="authority:testNewSigner" />
    </wsdl:message>
    <wsdl:message name="testNewSignerResponse">
    	<wsdl:part name="parameters" element="authority:testNewSignerResponse" />
    </wsdl:message>
    <wsdl:message name="testNewSignerFault">
    	<wsdl:part name="fault" element="authority:testNewSignerFault" />
    </wsdl:message>
    <wsdl:message name="verifyAuthorizedSignaturesRequest">
    	<wsdl:part name="parameters" element="authority:verifyAuthorizedSignatures" />
    </wsdl:message>
    <wsdl:message name="verifyAuthorizedSignaturesResponse">
    	<wsdl:part name="parameters" element="authority:verifyAuthorizedSignaturesResponse" />
    </wsdl:message>
    <wsdl:message name="verifyAuthorizedSignaturesFault">
    	<wsdl:part name="fault" element="authority:verifyAuthorizedSignaturesFault" />
    </wsdl:message>
    <wsdl:portType name="AuthorityPort">
        <wsdl:operation name="getUserAccessRights">
        	<wsdl:input message="authority:getUserAccessRightsRequest" />
        	<wsdl:output message="authority:getUserAccessRightsResponse" />
            <wsdl:fault name="fault" message="authority:getUserAccessRightsFault" />
        </wsdl:operation>
        <wsdl:operation name="getSenders">
        	<wsdl:input message="authority:getSendersRequest" />
        	<wsdl:output message="authority:getSendersResponse" />
            <wsdl:fault name="fault" message="authority:getSendersFault" />
        </wsdl:operation>
        <wsdl:operation name="testNewSigner">
        	<wsdl:input message="authority:testNewSignerRequest" />
        	<wsdl:output message="authority:testNewSignerResponse" />
            <wsdl:fault name="fault" message="authority:testNewSignerFault" />
        </wsdl:operation>
        <wsdl:operation name="verifyAuthorizedSignatures">
        	<wsdl:input message="authority:verifyAuthorizedSignaturesRequest" />
        	<wsdl:output message="authority:verifyAuthorizedSignaturesResponse" />
            <wsdl:fault name="fault" message="authority:verifyAuthorizedSignaturesFault" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AuthorityBinding" type="authority:AuthorityPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getUserAccessRights">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getSenders">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="testNewSigner">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="verifyAuthorizedSignatures">
            <soap:operation soapAction=""/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Authority">
        <wsdl:port binding="authority:AuthorityBinding" name="AuthorityPort">
            <soap:address location="http://minameddelanden.gov.se/Authority"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
